<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

      <!-- Sidebar Header -->
      <div class="sidebar-header">
        <p class="sidebar-header-logo">
          Welcome Admin
        </p>
        <%= image_tag("home.png", class:"sidebar-header-home", width:"40", height:"40") %>
      </div>
      <!-- #Sidebar Header -->

      <!-- Sidebar Form -->
      <div class="sidebar-form">
        <form class="form-inline">
          <select class="form-control input-sm input-hero input-region">
            <option value="" disabled selected>--Select Region--</option>
            <option>2</option>
            <option>3</option>
          </select>
          <select class="form-control input-sm input-hero input-city">
            <option value="" disabled selected>Select City</option>
            <option>2</option>
            <option>3</option>
          </select>
          <button type="submit" class="btn btn-sm btn-go"><i class="fa fa-search fa-1x"></i>&nbspGO</button>
          <button type="submit" class="btn btn-sm btn-reset"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>&nbspRESET</button>
        </form>
      </div>
      <!-- #Sidebar Form -->

      <!-- Sidebar Image -->
      <div class="sidebar-refer-panel">
        <%= image_tag("street.JPG", class: "sidebar-refer-image") %>
      </div>
      <!-- #Sidebar Image -->

      <!-- Sidebar Info -->
      <div class="sidebar-info-panel">
        <p>Terminal ID:</p>
        <h4>RAJHIDOWMDLAM502864HB</h4>
        <p>Brand: <span>Diebold</span></p>
        <p>Address: <span>Balladial Ruwaida</span></p>
        <p>City: <span>Al-reweeda</span></p>

        <div class="sidebar-info-direction">
          <div class="sidebar-info-direction-btn">
            <span>
              <i class="fa fa-angle-double-left fa-1x"></i>
              <i class="fa fa-angle-double-right fa-1x"></i>
            </span>
          </div>
        </div>

        <div class="sidebar-action-icon">
          <i class="fa fa-plus fa-1x"></i>
        </div>
        <div class="sidebar-action-icon">
          <i class="fa fa-share-alt fa-1x"></i>
        </div>

        <div class="sidebar-action-panel">

        </div>
    </div>
    <!-- #Sidebar Info -->

    <!-- Sidebar Carousel -->
    <div class="sidebar-carousel">
        <div id="showcase" class="noselect">
          <%= image_tag("1.jpg", class: "cloud9-item", alt: "Item #1") %>
          <%= image_tag("1.jpg", class: "cloud9-item", alt: "Item #2") %>
          <%= image_tag("1.jpg", class: "cloud9-item", alt: "Item #3") %>
          <%= image_tag("1.jpg", class: "cloud9-item", alt: "Item #3") %>
        </div>
        <footer>
          <div id="nav" class="noselect">
            <button class="left">
              ←
            </button>
            <button class="right">
              →
            </button>
          </div>
        </footer>
    </div>
    <!-- #Sidebar carousel -->

    <!-- Sidebar comment -->
    <div class="sidebar-comment">
      <p>This ATM is located in the xxx region, in the city of xxx. It is a xxxx type and it xxxKm away from you. There are xx ATMs in a 100m radius. In the city selected, there are a total of xxx ATMs and a ratio of xxx ATMs per capita. The ATM has xxx in-cidents and was last visited on xxxx.</p>
    </div>
    <!-- #Sidebar Comment -->

  </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="padding:0px;">
        <div class="container-fluid" style="padding:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div style="width:100vw; height:100vh;">
                      <div id="map" style='width: 100vw; height: 100vh;'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<% content_for :js do %>
  <script>
  var initializeMap = function() {
  var handler;
  handler = Gmaps.build("Google");
  handler.buildMap({
    provider: {
      //maxZoom: 15,
      //minZoom: 10
      Zoom: 3
    },
    internal: {
      id: "map"
    }
  }, function() {
      <% @auto_teller_machines.each do |auto_teller_machine| %>
        var markers;
        var contentString = '<div class="info" style="color:black;">' + '<%= auto_teller_machine.type %>' + '</div>';
        markers = handler.addMarkers([
          {
            lat: <%= auto_teller_machine.latitude %>,
            lng: <%= auto_teller_machine.longitude %>,
            infowindow: contentString
          }
        ]);
      <% end %>
    //handler.bounds.extendWith(markers);
    //handler.fitMapToBounds();
    });
  };
  initializeMap();
  </script>
<% end %>
