<!DOCTYPE html>
<html>
  <head>
    <title>Hotspot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBDdqHvzO2nIUFDwQDxp_Y4rnX9zn4JSvc"></script>
  </head>

  <body>
    <%= yield %>

    <%= yield :js %>
  </body>
</html>
